<div style="margin-top:20px;" class="row">
 <div class="col-md-3">
  
 </div>
 <div class="col-md-6">
    Alreday have a acoount? 
    <a class="btn btn-primary" tooltip="Click to login"  [routerLink]="['/account/login']">Login</a>

</div>
<div class="col-md-3">

</div>
</div>

<div style="margin-top:20px;" class="row">
  <div class="col-md-3">
 
  </div>
  <div class="col-md-6">
      Don't have a acoount? 
      <a class="btn btn-primary" tooltip="Click to register" [routerLink]="['/account/register']">Register</a>
 
 </div>
 <div class="col-md-3">
 
 </div>
 </div>

<!-- <div>
  <p>welcome homeee</p>
  <p>
    <a [routerLink]="['/account/login']">Login</a>
  </p>
  <br>
  <p>
    <a [routerLink]="['/account/register']">Login</a>
  </p>
  <button (click)="getValues()">Load values</button>
  {{ value | json }}
</div> -->


